include ./axis.jade

h3 #{title}

svg(width=width, height=100+50)

  +axis(x_origin, y_origin, 25, 5)

  each d, index in data
    //- Create The bar
    unless d.color
      if (index%2==0)
        - d.color = "red"
      else
        - d.color = "blue"
    rect(width=d.w, height=d.y, x=x_origin+(index*padding), y=y_origin-d.y, fill=d.color)

    //- Add an x label
    text(x=x_origin + d.w/2+index*padding y=y_origin+20 color=blue) #{index+1}
